<div id="banner">
  <button routerLink="/Account" class="acc">Account</button>
  <button routerLink="/Home" class="signout">Sign out</button>
</div>
<H1>DASHBOARD</H1>
<div class="dash-section">
  <div class="box1">
    <a routerLink="/EnrolledQuiz"
      >Enrolled Quizzes <br /><br />Take a look at the quizzes you enrolled
      for</a
    >
  </div>
  <div class="box2">
    <a routerLink="/UpcomingQuiz"
      >Upcoming quizzes
      <br />
      <br />
      Take a look at the quizzes you have soon</a
    >
  </div>
  <div class="box3">
    <button routerLink="/CreateQuiz">Take a quiz now!</button>
  </div>
  <div class="box4">
    <a routerLink="/QuizHistory"
      >Quiz History <br />
      <br />Take a look at your quiz statistics</a
    >
  </div>
</div>
